<div 
    *ngIf="!pais; else divPais"
    class="alert alert-info">

    Espere por favor
</div>
<ng-template #divPais >
<div class="animate__animated animate__fadeIn">
   <div class="row">
    <div class="col-12">
        <h1>País: <small>{{pais.name.common}}</small></h1>
    </div>
</div> 
<div class="row">
    <div class="col-4">
        <h3>Bandera</h3>
        <img [src]="pais.flags.png" class="img-thumbnail" />
    </div>
    <div class="col">
        <h3>Información</h3>
        <ul class="list-group">
            <li class="list-group-item">
                Población {{pais.population | number }}
            </li>
            <li class="list-group-item">
                Código  numérico{{pais.ccn3}}
            </li>
            <li class="list-group-item">
                Código {{pais.cca2}}
            </li>
            
        </ul>
    </div>
</div>

<h3>Traducciones</h3>
<div class="row">
    <div class="col">
       <span class="badge bg-primary mr-1">{{pais.translations['deu'].common}}</span>
       <span class="badge bg-primary mr-1">{{pais.translations['spa'].common}}</span>
       <span class="badge bg-primary mr-1">{{pais.translations['fra'].common}}</span>
       <span class="badge bg-primary mr-1">{{pais.translations['por'].common}}</span>
       <span class="badge bg-primary mr-1">{{pais.translations['jap'].common}}</span>
    </div>
</div>

<pre>
     {{ pais | json }}  
</pre>
</div>
</ng-template>

